// Specific CSS for your home-page

a {
  text-decoration: none;
}

.home-view
{ padding-top: 50px;
  padding-bottom: 100px;

}




a:hover{
  text-decoration: none;
}



.explain
{
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: raleway;
  line-height: 170%;
}


