// Specific CSS for your home-page

a {
  text-decoration: none;
}

.home-view {
  margin-bottom: 150px;
}


/*  ===================================
|  |   |   |     Content boxes
======================================= */


.content-box-lg {
padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

.content-box-sm {
padding: 80px 0 100px 0;
}



a:hover{
  text-decoration: none;
}

/*  ===================================
|  |   |   |     Explain
======================================= */


#explain h1 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
  text-align: center;

}

#explain h1 span {
  font-weight: bold;
}

#explain p
{
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: raleway;
  font-size: 19px;
  line-height: 170%;
}

#explain p span {
  color: #d23333;
  font-weight: bold;
  font-size: 21px;
}

#explain hr {
width: 60px;
height: 3px ;
background-color: #d23333;
margin: 0 auto;
border: none;
}

/*  ===================================
|  |   |   |     Portfolio
======================================= */

#portfolio .vertical-heading {
  margin-bottom: 50px;
}

.row.no-gutters [class*=col-]{
 padding: 0;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

/* Filters CSS */

.filters {
  margin-bottom: 10px;
  padding: 20px 25px 20px 0;
}

.button-group button {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 35px;
  outline: 0;
}

.button-group button span {
  display: block;
  padding: 5px;
}

.button-group button.active span,
.button.is-checked {
  color: #d23333;
  border-bottom: 3px solid #d23333 ;
  -webkit-transition: border-color .4s ease-in-out;
  transition: border-color .4s ease-in-out;
}


.ui-group {
  display: inline-block;
}

.ui-group h3 {
  display: inline-block;
  margin-right: 0.2em;
  font-size: 16px;
  color: #d23333;
}

.ui-group .button-group {
  display: inline-block;
  margin-right: 20px;
}



.form-group .search label {
font-family: "Raleway", "Helvetica", "sans-serif";
font-weight: 500;
line-height: 1.1;
font-size: 16px;
color: #d23333;
}

.form-group .search a.button.btn{
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 35px;
  outline: 0;
  color: black;
  border: 1px solid #ccc;
}


.button-group button span {
  display: block;
  padding: 5px;
}

.button-group button.active span,
.button.is-checked {
  color: #d23333;
  border-bottom: 3px solid #d23333 ;
  -webkit-transition: border-color .4s ease-in-out;
  transition: border-color .4s ease-in-out;
}

.form-group .search a.button.btn.active,
.button.is-checked {
  color: #d23333;
  border-bottom: 3px solid #d23333 ;
  -webkit-transition: border-color .4s ease-in-out;
  transition: border-color .4s ease-in-out;
}

.form-group .search input {
   font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 35px;
  outline: 0;
  color: #d23333;
 border: 1px solid #ccc;
}



/* Zoom effect */

.portfolio-item img {
width: 100%;
height: auto;
-webkit-transition: transform .5s ease;
-webkit-transition: transform .5s ease ;
-o-transition: transform .5s ease;
transition: transform .5s ease;

}

.portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Overlay effect */

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14,14,17, 0.9);
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}
/* On met .portfolio-item en position relative


/* Item details effects */

.portfolio-item-details {
position: absolute;
top: 50%;
left: 0;
width: 100%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform:translateY(-50%);
transform: translateY(-50%);
}

.portfolio-item-details h3 {
color: #d23333;
text-transform: uppercase;
font-size: 30px;
margin: 0;
-webkit-transform: translateY(-20%);
-ms-transform: translateY(-20%);
-o-transform:translateY(-20%);
transform: translateY(-20%);
}

.portfolio-item-details span {
display: inline-block;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
height: 6px;
width: 30px;
margin: 11px auto 5px auto; }

.portfolio-item-details p {
font-size: 17px;
color: #fff;
text-transform: uppercase;
margin: 0;
padding: 0;
-webkit-transform: translateY(20%);
-ms-transform: translateY(20%);
-o-transform:translateY(20%);
transform: translateY(20%);
-webkit-transition: all 0.8s;
-o-transition: all 0.8s;
transition: all 0.8s;
}

.portfolio-item-details p.icon {
font-size: 10px;
color: #fff;
text-transform: uppercase;
margin: 0;
padding: 0;
-webkit-transform: translateY(20%);
-ms-transform: translateY(20%);
-o-transform:translateY(20%);
transform: translateY(20%);
-webkit-transition: all 0.8s;
-o-transition: all 0.8s;
transition: all 0.8s;
}
/* Overlay on mouse over */

.portfolio-item-details p.icon i {
  margin-right: 5px;
  font-size: 12px;
}

i.greeny {
  color: #00cc44;
}

.portfolio-item:hover .portfolio-item-details h3 {
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform:translateY(0);
transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
-webkit-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform:translateY(0);
transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
opacity: 1;
}


