// Specific CSS for your home-page

a {
  text-decoration: none;
}

.home-view {
  margin-bottom: 150px;
}


/*  ===================================
|  |   |   |     Content boxes
======================================= */


.content-box-lg {
padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}


a:hover{
  text-decoration: none;
}

/*  ===================================
|  |   |   |     Explain
======================================= */


#explain h1 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
  text-align: center;

}

#explain h1 span {
  font-weight: bold;
}

#explain p
{
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: raleway;
  font-size: 19px;
  line-height: 170%;
}

#explain p span {
  color: #d23333;
  font-weight: bold;
  font-size: 21px;
}

#explain hr {
width: 60px;
height: 3px ;
background-color: #d23333;
margin: 0 auto;
border: none;
}

