h1.title  {
  font-weight: 400;
}

.show-text p strong
{
  font-weight: 550;
}

p.show-text strong {
  font-weight: 550;
}

.margin-top-show {
  margin-top: 130px;
}

.margin-top-fifty {
  margin-top: 50px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.trailer
{
  margin-bottom: 30px;
  margin-top: 30px;
}

.title {
  margin-bottom: 80px;
  margin-top: 160px;
}

.show-text {
font-size: 18px;
font-family: raleway;
font-weight: 300;

}
