 <div id="footer">
    <div>
      <div class="footer-links">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>

    </div>

    </div>

    <div class="footer-link_to margin-right">
    <a id="copyright" href="../../about">&copy Laure Leter 2018</a>
  </div>

  </div>
