 <div id="footer">
    <div class="container">
      <div class="footer-links">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>

    </div>

    </div>

    <div class="footer-link_to margin-right">
    <a href=""><%= link_to "Contact", contact_path%></a>
    <a href=""><%= link_to "Crédits", contact_path%></a>
  </div>
  </div>
