
<body style= "background-color: white">
<div class="container presentation">

<p class="text-center presentation-title">A propos</p>
<p class="text-justify">Super 8 est un compte rendu de transmission cinématographique à mes enfants. </br> </br>Comme les contes ou la mythologie, le cinema permet de partager avec eux une base de données commune de références, de répliques cultes, d'illustrations de la grande Histoire ou des petites histoires. Ils leurs ouvrent une culture à la fois pointue et populaire. Quand ma fille me dit "On a fait un détour parceque c'était joli" ou que mon fils me demande "Comment est votre blanquette?", ils savent que cela désamorçe en un clin d'oeil tout esprit de sérieux (vous avez trouvé les titres des films?). </br></br> J'ai selectionné ceux qu'ils ont aimé voir, même quand ils étaient en noir et blanc (l'enthousiasme spontané pour cette teinte de pellicule équivaut à l'inscription "lapin à la moutarde" au menu la cantine).</br> </br> Cette sélection est absoluement subjective. Elle propose des films qui nous ont passionnés, enchantés, destabilisés. Elle élude certains longs métrages désignés comme des incontournables pour les enfants et beaucoup d'oeuvres ne sont pas spécifiquement destinées à un jeune public. </br></br>
Super 8 permet de chercher par âge, par genre, par titre, par réalisateur.rice. L'âge auquel les enfants sont succeptibles d'aprécier un film est indicative et dépend de leur receptivité. </br> </br>
</p><p class="text-center">Bonnes scéances !</p>

</div>
</body>
