
<body style= "background-color: white">
<div class="container presentation">

<div class="row">

<div class="col-xs-12 col-sm-4">
 <%= image_tag "me.JPG", height: 400 %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
<p class="text-justify">Super 8 est un compte rendu de transmission cinématographique à mes enfants. </br> </br>Comme les contes ou la mythologie, le cinema permet de partager avec eux des références et des répliques cultes. </br></br> J'ai selectionné ceux qu'ils ont aimé voir, cette sélection est absoluement subjective et beaucoup d'oeuvres ne sont pas spécifiquement destinées à un jeune public. </br></br>
Super 8 permet de chercher par âge, par genre, par titre, par réalisateur.rice. L'âge auquel les enfants sont succeptibles d'aprécier un film est indicative et dépend de leur receptivité. </br> </br>
</p><p class="text-center">Bonnes scéances !</p><%= link_to "Crédits", credits_path %>
</div>
</div>
</div>


</body>
