<body style= "background-color: white">
  <div class="container margin-hundred">
  <p>Les photos des affiches et des films, les informations techniques et la base des pitchs viennent de l'incroyable base de donnée collaborative The Movie database https://www.themoviedb.org/?language=fr</p>
  <p>Les autres photos sur unsplash, la photo de home a été prise Noom Peerapong et celle qui ouvre la recherche par Benjamin Lambert. Merci &#x1F64F. </p>
</div>
</body>
