<body style= "background-color: white">
  <% content_for :nav, render('shared/navbar_home') %>
  <div class="credits-banner">

</div>
  <div class="container padding-credits">
  <p class="text-justify credits-link">Les photos de scènes de films, les affiches, les infos techniques et la base des pitchs viennent de l'incroyable site collaboratif <a target="_blank" href="https://www.themoviedb.org/?language=fr"> <span class="credits-site"><i>The Movie database.</i> </span></a><br/><br/>
  Les images qui illustrent les pages d'acceuil, de recherche et de crédits ont été publiées sur le site <a target="_blank" href="https://unsplash.com"><span class="credits-site"><i>Unsplash</i> </span> par Noom Peerapong, Benjamin Lambert et Courtney Hedger</a>.<br/><br/>Qu'ils en soient tous remerciés &#x1F64F </p>
</div>
</body>



