
<% content_for :nav, render('shared/navbar_home') %>

<div class="home-banner">
  <h1>Super 8</h1>
    <p>Des films qu'on a envie de voir avec ses enfants </p>
     <a href ="" class="btn btn-success btn-lg">Trouver un film</a>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit qui, dolor, delectus cumque, placeat aliquam debitis doloremque quo accusantium et molestiae iusto provident nisi? Ab dolore, dolor sequi maxime adipisci!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate esse nemo quas deserunt numquam omnis illum ex id, aperiam eos repellendus explicabo nam non, sed, dolorum sequi quibusdam in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fugiat error, modi est quos eveniet, nam vero facere at odit magnam pariatur rerum impedit fuga in hic asperiores, molestiae libero.</p>
