.btn-general {
font-family: "Raleway", sans-serif;
border-radius: 28px;
font-size: 13px;
text-transform: uppercase;
margin: 0 6px;
padding: 12px 46px 12px 46px;
-webkit-transition: all .5s;
transition: all .5s;
}

.btn-home {
color: #fff;
border: 1px solid #fff;
}

.btn-home:hover, .btn-home:focus {
color: #fff;
background-color:#d23333;;
border: 1px solid #d23333;;
}

.btn-white{
color: #d23333;;
border: 1px solid #d23333;;
background: #ffffff;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn-white:hover {
  background: #d23333;

color: white;
}

.btn-red{
color: #ffffff;
border: 1px solid #d23333;;
background: #d23333;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn-red:hover {
  background: #ffffff;

color: #d23333;
}


a.btn.btn-success.btn-white:hover {
background: #d23333;

color: white;
}

.btn-green{
color: #ffffff;
border: 1px solid #00C29A;
background: #00C29A;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}



.btn-green:hover {
background: white;
color: #00C29A;

}

.button-new {
  margin-top: 30px;
  padding-bottom: 60px;
}
