.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
background-color: #00C29A;
border-color: #00C29A;}

.pagination > li > a, .pagination > li > span
{
  color: #00C29A;
}

.pagination > li > a:hover
{
  color: #00C29A;
}

